
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
  text-align: center
}
#search_field {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin: 20 auto;
	margin: 20px auto;
	width: 50%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
